*{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(214, 225, 227);
    box-shadow: 3px 3px 4px hsl(210, 46%, 95%);
}
.grid{
    height: 80%;
    width: 80%;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    
}
/* .items{
    display: grid;
    place-items: center;
    background-color: brown;
    
} */
.ch1{
    display: grid;
    place-items: center;
    grid-column:1/3;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    box-shadow: 3px 3px 4px hsl(210, 46%, 95%);
}
.ch2{
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    box-shadow: 3px 3px 4px hsl(210, 46%, 95%);
}
.ch3{
    display: grid;
    place-items: center;
    border-radius: 10px;
    grid-row:1/3;
    grid-column: 4;
    background-color:hsl(0, 0%, 100%);
    box-shadow: 3px 3px 4px hsl(210, 46%, 95%);
}
.ch4{
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color:hsl(0, 0%, 100%) ;
    box-shadow: 3px 3px 4px hsl(210, 46%, 95%);
}
.ch5{
    display: grid;
    place-items: center;
    border-radius: 10px;
    grid-column:2/4;
    background-color:hsl(219, 29%, 14%);
    box-shadow: 3px 3px 4px hsl(210, 46%, 95%);
}
.pic{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
}
.item1{
    
   display: flex;
   align-items: start;
   gap: 5px;
   justify-content: center;
   flex-direction: column;
   /* background-color: pink; */
   padding-left: 20px;
   /* padding-top: 5px; */
   
}
.profile{
    height:20% ;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 20px;

    /* background-color: burlywood; */
}
.text{
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 75%;
}
#txt{
    color: black;
}
.text1{
    height:70% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    Font-size: 13px;
    color: white;
   
}



